apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: ghcr.io/killmonger331/k8-python-ci-cd:latest
          ports:
            - containerPort: 8000
          env:
            - name: ENV
              value: "dev"
